/* toggleSwitch.module.css */

.app {
    font-family: Arial, sans-serif;
  }
  
  .heading {
    color: #333;
  }
  
  /* Styling for the react-switch component */
  .react-switch {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
  }
  
  .react-switch-label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .react-switch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  .react-switch-background {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    transition: background-color 0.3s;
  }
  
  .react-switch-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: left 0.3s, right 0.3s;
  }
  
  .react-switch-checkbox:checked + .react-switch-background {
    background-color: #66bb6a; /* Color when switch is on */
  }
  
  .react-switch-checkbox:checked + .react-switch-background .react-switch-handle {
    left: calc(100% - 16px);
    right: 0;
  }
  
  /* Additional styling for centering the toggle switch */
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  