/* login.module.css */
.container {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column; /* Change to column layout */
  align-items: center; /* Center items horizontally */
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.loginForm {
  background-color: rgba(
    249,
    249,
    247,
    0.8
  ); /* Adjust the background color's opacity */
  background-image: none; /* Remove the original background color */
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}
.welcomeTitle {
  font-size: 80px; /* Adjust the font size */
  margin-bottom: 20px; /* Increase the margin to create space */
  color: #272727; /* Adjust the color to your preferred color value */
  text-align: center; /* Center the title horizontally */
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;.welcomeTitle {
  font-size: 50px; /* Adjust the font size */
  margin-bottom: 10px;
  text-align: center;
  color: #333; /* Adjust the color to your preferred color value */
}
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #030000;
  border-radius: 5px;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.signupText {
  color: #007bff;
  /* Set the color to your preferred color value */
  margin-top: 10px;
  text-align: center;
}
